{% extends "app/index.html" %} {% block content %}
<div class="big-cta">
    <div class="cta-text">
        <h2>Agenda</h2>
    </div>
</div>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">

                    <div class="table-responsive">
                    	<table class="table table-hover">
                    		<thead>
                    				<!-- <h2>Schedule</h2> -->
                    			<tr>
                    				<th>Sno.</th>
                    				<th>Day</th>
                    				<th>From Univ.</th>
                    				<th>From School</th>
                    				<th>Topics</th>
                    			</tr>
                    		</thead>
                    		<tbody>
                    			<tr>
                    				<td>1</td>
                    				<td>Saturday<br/>August 1</td>
                    				<td><b>Naveen Garg</b><br/>IIITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Sangita Chadha, Bani Das</td>
<td>Basics concepts and algorithm concepts, <b>Translating Algorithms to Programs</b>
Exercises/Examples/Case Studies</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td><b>Smruti Sarangi</b><br/>IITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Gurpreet Kaur,
Richa Verma,
Deepa Lakshmi,
Anshu Kumar,
Bani Das</td>
<td>
<b>Arrays</b>, Sorting and Searching, Projects using arrays and operations on them.
</td>

                    			</tr>

<tr>
                    				<td>2</td>
                    				<td>Saturday<br/>August 8</td>
                    				<td><b>Rajiv Raman</b><br/>IIITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mukesh Kumar,
Anju Gupta,
Menika Anand,
Rajesh Sethi,
Monica Sahni</td>
<td>
<b>Pointers, Linked List</b> and algorithms on it. Projects using pointers
</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td><b>Debajyoti Bera</b>
<br/>IIITD,
Engineers from Google</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mohit Dey,
Chandni Agarwal,
Ritu Gulati,
Nancy Sehgal</td>
<td>Programming practice and File Handling; projects using <b>file handling</b>; List of projects.
Crowd Sourced from all
</td>

                    			</tr>

<tr>
                    				<td>3</td>
                    				<td>Sunday<br/>August 16</td>
                    				<td>TBD<br/>(perhaps a few faculty together)</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mukesh Kumar
Monica Sahni</td>
<td>Advanced Data Structure - <b>Graph</b> and problems related to it, possible related to it, possible projects</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td><b>Pankaj Jalote</b>
<br/>IIITD<br/>
<b>Neelima Gupta</b>
<br/>
DU<br/>
<b>Hema Banati</b
>19<br/>
DU<br/>
+<br/>
Industry Person
</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Gurpreet Kaur
School Teachers with Best Practices</td>
<td>Resources for school teachers, CS as a discipline, career opportunities in it, Best practices from school teachers.
</td>

                    			</tr>

                    		</tbody>
                    	</table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
