{% extends "app/index.html" %} {% block content %}
<div class="big-cta">
    <div class="cta-text">
        <h2>Schedule</h2>
    </div>
</div>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">

                    <div class="table-responsive">
                    	<table class="table table-hover">
                    		<thead>
                    				 <h5>The workshop will focus on simple CS concepts relating to problem solving through programming, and projects utilizing these concepts. The schedule for the workshop is: </h5>
                    			<tr>
                    				<th>Sno.</th>
                    				<th>Day</th>
                    				<th>From Univ.</th>
                    				<th>From School</th>
                    				<th>Topics</th>
                    			</tr>
                    		</thead>
                    		<tbody>
                    			<tr>
                    				<td>1</td>
                    				<td>Saturday<br/>August 1</td>
                    				<td>Naveen Garg<br/>IIITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Sangita Chadha, Bani Das</td>
<td>Basics concepts and algorithm concepts, Translating Algorithms to Programs
Exercises/Examples/Case Studies</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td>Smruti Sarangi<br/>IITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Gurpreet Kaur,
Richa Verma,
Deepa Lakshmi,
Anshu Kumar,
Bani Das</td>
<td>
Arrays, Sorting and Searching, Projects using arrays and operations on them.
</td>

                    			</tr>

<tr>
                    				<td>2</td>
                    				<td>Saturday<br/>August 8</td>
                    				<td>Rajiv Raman<br/>IIITD</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mukesh Kumar,
Anju Gupta,
Menika Anand,
Rajesh Sethi,
Monica Sahni</td>
<td>
Pointers, Linked List and algorithms on it. Projects using pointers
</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td>Debajyoti Bera
<br/>IIITD,
Engineers from Google</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mohit Dey,
Chandni Agarwal,
Ritu Gulati,
Nancy Sehgal</td>
<td>Programming practice and File Handling; projects using file handling; List of projects.
Crowd Sourced from all
</td>

                    			</tr>

<tr>
                    				<td>3</td>
                    				<td>Sunday<br/>August 16</td>
                    				<td>TBD<br/>(perhaps a few faculty together)</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Mukesh Kumar
Monica Sahni</td>
<td>Advanced Data Structure - Graph and problems related to it, possible related to it, possible projects</td>
                    			</tr>
                    			<tr>
                    				<td></td>
                    				<td></td>
                    				<td>Pankaj Jalote
<br/>IIITD<br/>
Neelima Gupta
<br/>
DU<br/>
Hema Banati</b
><br/>
DU<br/>
+<br/>
Industry Person
</td>
                    				<!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                    				<td>Gurpreet Kaur
School Teachers with Best Practices</td>
<td>Resources for school teachers, CS as a discipline, career opportunities in it, Best practices from school teachers.
</td>

                    			</tr>

                    		</tbody>
                    	</table>
                    </div>
                    </div>
                </div>
            </div>
*Please note that the class on 16th August is on Sunday and not on Saturday. <br/><br/>  
For each session, attendees may be given some material in advance to read before coming to the session. During the session, the faculty will go over the topic and have discussions, which will be followed by programming projects (for which templates etc will be provided) in IIIT-D labs.  It is planned that each concept will be motivated through problems.  Each session will have a refreshments break; lunch will also be provided to all delegates.
        </div>
    </div>
</section>
{% endblock %}
