{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IIIT Delhi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="IIITD" />
    <!-- css -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="{% static "skins/default.css" %}" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>

  <body>

    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">
                            <a href="http://iiitd.ac.in" target="_blank"><img src="http://iiitd.ac.in/sites/default/files/images/graphicidentity/logo/style3colorsmall.jpg" /></a>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">

                            <li class="active"><a href="/">Home</a></li>
                            <!-- <li><a href="/agenda">Schedule</a></li> -->
                            <!--<li><a href="http://goo.gl/forms/ssFhbZBv9K" target="_blank">Register</a></li> -->
                            
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        {% block content %}
        <div class="big-cta">
            <div class="cta-text">
                <br/>
                <h2>Workshop for Teachers of Computer Science in Senior Secondary Schools (11th and 12th)</h2>
                <h4>1st August, 8th August and 16th August 2015</h4>
                <br/>
                <br/>
            </div>
        </div>
        <section class="callaction">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="big-cta">
                            <div class="cta-text">
                                <h3 align="left">About the Workshop</h3>
                                <p align="left">
                                    CS is one of the popular subjects in science stream in high school in India. The syllabus for class XII is 

                                    mostly around the language features (C++, and now also Python) and Object Orientation. Teaching 

                                    quality can be improved if programming is taught as a problem solving approach using simple data 

                                    structures and algorithms (and using them for suitable projects), which is supported with some 

                                    effective approaches for programming and debugging.   

                                    The goal of this workshop is to enhance the background of school teachers for strengthening their CS 

                                    teaching. Another goal of this workshop is build a community of school teachers for ongoing 

                                    discussion for continued improvement of CS education in schools.

                                    The workshop will be held at IIIT-Delhi, a premiere Institute in Delhi in CS/IT, and will be conducted 

                                    by CS faculty from IIIT-Delhi, IIT Delhi, Delhi University, Google, and some well-known teachers from 

                                    schools. The faculty will be supported by advanced students from IIIT-Delhi for conducting labs.
                                    <br/><br/>
                                    Registration fees are waived for the participants thanks to a grant from Google. However, Registration is mandatory and seats are limited and will be on a first come first served basis. The registrations will open on 10th July 2015. <br/>
                                    Completion certificates will be given to those who attend all days of the workshop.
                                </p>
                            </div>
                            <br/>
                            
                            
                            <h3>Instructors</h3>
                            <p>
                                Each of the first five sessions will be delivered by a group of faculty – one lead faculty from IIIT-Delhi, IIT Delhi, Delhi University, and Google, and two to three school teachers. Following are lead faculty:<br/>
                                <div style="margin-left:2em">
                                    <li>Dr. Naveen Garg, IIT Delhi</li>
                                    <li>Dr. Smruti Sarangi, IIT Delhi</li>
                                    <li>Dr. Rajiv Raman, IIIT-Delhi</li>
                                    <li>Dr. Debajyoti Bera, IIIT-Delhi</li>
                                    <li>Dr Neelima Gupta, DU</li>
                                </div>
                                <br/>
                                Engineers from Google to help in the session on programming and debugging practices
                                Each lead faculty will be supported by two to three school teachers – this will ensure that the topics are covered in a manner that is accessible to school teachers, and the projects that are selected will be useful for them. Currently, we have two school faculty who will help us identify others. The current expert from schools are: <br/>
                                <br/><div style="margin-left:2em">
                                <li>Mukesh Kumar, Head CS, DPS RK Puram</li>
                                <li>Gurpreet Kaur, Head CS, GD Goenka School</li>
                            </div>
                            <br/>
                            Faculty for each session will be supported by students, particularly to conduct labs and projects.<br/>
                            Overall coordinator for the workshop will be Dr. Pankaj Jalote, IIIT-Delhi.


                        </p>
                        <br/>
                        <h3>Schedule</h3>
                        <div class="container">
                            <div class="row">
                             <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                       <h5>The workshop will focus on simple CS concepts relating to problem solving through programming, and projects utilizing these concepts. The schedule for the workshop is: </h5>
                                       <tr>
                                        <th>Sno.</th>
                                        <th>Day</th>
                                        <th>Timings</th>
                                        <th>From Univ.</th>
                                        <th>From School</th>
                                        <th>Topics</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Saturday<br/>August 1</td>
                                        <td>9:30-12:30</td>
                                        <td>Naveen Garg<br/>IIITD</td>
                                        <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                        <td>Sangita Chadha, Bani Das</td>
                                        <td>Basics concepts and algorithm concepts, Translating Algorithms to Programs
                                            Exercises/Examples/Case Studies</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>14:00-17:00</td>
                                            <td>Smruti Sarangi<br/>IITD</td>
                                            <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                            <td>Gurpreet Kaur,
                                                Richa Verma,
                                                Deepa Lakshmi,
                                                Anshu Kumar,
                                                Bani Das</td>
                                                <td>
                                                    Arrays, Sorting and Searching, Projects using arrays and operations on them.
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>2</td>
                                                <td>Saturday<br/>August 8</td>
                                                <td>9:30-12:30</td>
                                                <td>Rajiv Raman<br/>IIITD</td>
                                                <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                                <td>Mukesh Kumar,
                                                    Anju Gupta,
                                                    Menika Anand,
                                                    Rajesh Sethi,
                                                    Monica Sahni</td>
                                                    <td>
                                                        Pointers, Linked List and algorithms on it. Projects using pointers
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>14:00-17:00</td>
                                                    <td>Debajyoti Bera
                                                        <br/>IIITD,
                                                        Engineers from Google</td>
                                                        <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                                        <td>Mohit Dey,
                                                            Chandni Agarwal,
                                                            Ritu Gulati,
                                                            Nancy Sehgal</td>
                                                            <td>Programming practice and File Handling; projects using file handling; List of projects.
                                                                Crowd Sourced from all
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td>3</td>
                                                            <td>Sunday<br/>August 16</td>
                                                            <td>9:30-12:30</td>
                                                            <td>TBD<br/>(perhaps a few faculty together)</td>
                                                            <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                                            <td>Mukesh Kumar
                                                                Monica Sahni</td>
                                                                <td>Advanced Data Structure - Graph and problems related to it, possible related to it, possible projects</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td>14:00-17:00</td>
                                                                <td>Pankaj Jalote
                                                                    <br/>IIITD<br/>
                                                                    Neelima Gupta
                                                                    <br/>
                                                                    DU<br/>
                                                                    Hema Banati</b
                                                                    ><br/>
                                                                    DU<br/>
                                                                    +<br/>
                                                                    Industry Person
                                                                </td>
                                                                <!-- <br/><td>Smruti Sarangi<br/>IITD</td> -->
                                                                <td>Gurpreet Kaur
                                                                    School Teachers with Best Practices</td>
                                                                    <td>Resources for school teachers, CS as a discipline, career opportunities in it, Best practices from school teachers.
                                                                    </td>

                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    *Lunch and Refreshments will be provided.
                                                    *Please note that the class on 16th August is on Sunday and not on Saturday. <br/><br/>  
                                                    For each session, attendees may be given some material in advance to read before coming to the session. During the session, the faculty will go over the topic and have discussions, which will be followed by programming projects (for which templates etc will be provided) in IIIT-D labs.  It is planned that each concept will be motivated through problems.  Each session will have a refreshments break; lunch will also be provided to all delegates.
                                                </div>
                                            </div>




                                            <br/>

                                            <br/>
                                            <h3>Eligibility</h3>
                                            Teachers in any school in Delhi-NCR can apply. Each school can send a list of upto 3 faculty members which has to be sent either by the Principal or the Computer Science instructor (in decreasing order of priority).  Number of seats for the workshop will be limited to 150. If there are more nominations, then the number of teachers taken from a school may be reduced.
                                            <br/><br/> <h3>Contact</h3>
                                            <p>
                                                Dr. Rajiv Raman <a href="mailto:rajiv@iiitd.ac.in">rajiv@iiitd.ac.in</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% endblock %}
                        <footer>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <h5 class="widgetheading">Location</h5>
                                            <address>
                                                <strong>IIIT - Delhi </strong>
                                                <br> Okhla Industrial Estate,Phase III
                                                <br/>(Near Govind Puri Metro Station)
                                                <br> New Delhi, Delhi 110020
                                            </address>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget">
                                            <h5 class="widgetheading">Links</h5>
                                            <ul class="link-list">
                                                <li><a href="/">Home</a></li>
                                                <!-- <li><a href="/agenda">Schedule</a></li> -->
                                                <!-- <li><a href="http://goo.gl/forms/ssFhbZBv9K" target="_blank"> Register</a></li> -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- <h5 class="widgetheading" style="text-align:center">Sponsored by Google</h5> -->
                        <!-- <span style="margin-left:15px;"><a href= "http://www.codechef.com/school/goforgold" target="_blank"><img height="150em" width="250em" src="https://codechef_shared.s3.amazonaws.com/download/school_images/gfg_school_banner.jpg" /></a><span style="">
                        <span style="margin-left:15px;"><a href="http://www.iarcs.org.in/" target="_blank"><img height="150em" width="250em" src="http://www.iarcs.org.in/atva2012/images/iarcs-logo.jpg"/></a></span> -->
                    </div>
                </div>
            </div>
            <div class="container">
                Designed by <a href="mailto:naman13064@iiitd.ac.in">Naman</a>
                <div class="row pull-right"><span>&copy; IIIT-Delhi</div>
            </div>

        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.js" %}" ></script>
    <script src="{% static "js/jquery.easing.1.3.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
    <script src="{% static "js/jquery.fancybox-media.js" %}"></script>
    <script src="{% static "js/google-code-prettify/prettify.js" %}"></script>
    <script src="{% static "js/portfolio/jquery.quicksand.js" %}"></script>
    <script src="{% static "js/portfolio/setting.js" %}"></script>
    <script src="{% static "js/jquery.flexslider.js" %}"></script>
    <script src="{% static "js/animate.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55112650-1', 'auto');
      ga('send', 'pageview');

  </script>
</body>
</html>
